@{
    ViewData["Title"] = "HaSin";
}

<nav class="navbar navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                HaSin自动发卡平台
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="liBackground"><a href="@Url.Action("Index","Home",new { area="Manage"})" class="aBackground">进入后台</a></li>
            <li class="liLogout"><a href="#" class="alogout">退出</a></li>
            <li class="liLogin"><a href="#" class="alogin">登录</a></li>
            <li class="liRegister"><a href="#">注册</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>最专业的自动发卡平台</h2>
        <p style="padding-top:50px;">致力于解决虚拟商品的快捷寄售服务，为商户及其买家提供，便捷、绿色、安全、快速的销售和购买体验。</p>
        <p><a class="btn btn-primary btn-lg aregister" href="#" role="button">商家注册</a></p>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        $(function () {

            mgr.getUser().then(function (user) {
                if (user) {
                    $(".liLogin").hide();
                    $(".liRegister").hide();
                }
                else {
                    $(".liBackground").hide();
                    $(".liLogout").hide();
                }
            });

            $(".alogin").on("click", function () {
                mgr.signinRedirect();
            });

            $(".alogout").on("click", function () {
                mgr.signoutRedirect();
            });

            $(".aregister").on("click", function () {
              
            });
        });

    </script>
}