<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hasin自动发卡平台 - 自动发卡网_自动发卡平台_917发卡网_联动全自动发卡网-极受用户欢迎的发卡平台 - www.hasin.top</title>
    <meta name="keywords" content="自动发卡,自动发卡平台,自动发卡网,发卡网,发卡平台，Hasin发卡网，Hasin发卡平台,917发卡网">
    <meta name="description" content="Hasin全自动发卡网是极受用户欢迎的自动发卡平台,Hasin全自动发卡网以信誉求市场,以稳定求发展，行业内最安全,完善的售后服务体系,简单易用,专业的技术团队,功能强大的全自动发卡网,最放心的全自动发卡平台">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/theme-style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>
<body>
    <div id="home" class="header scroll">
        <div class="container">
            <div class="logo">
                <a><img src="~/images/logo.png" alt="" style="width:80px;height:80px;"></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav">
                    <li class="active"><a class="scroll" href="@Url.Action("Index","Home")">首页</a></li>
                    <li class="page-scroll"><a class="scroll" href="#about">优势</a></li>
                    <li class="page-scroll"><a class="scroll" href="#services">我们</a></li>
                    <li class="page-scroll"><a class="scroll" href="#contact">联系</a></li>
                    <li><a href="#" style="color: #4bd0b7"><b><i class="fa fa-search"></i> 查询订单</b></a></li>
                    <li class="page-scroll"><a class="scroll aLogin" href="#">登录</a></li>
                    <li class="page-scroll"><a class="scroll reg_btn" href="@Url.Action("Index","Register")">注册</a></li>
                </ul>
                <a id="pull"><img src="~/images/nav-icon.png" title="menu"></a>
            </nav>
            <div class="clearfix">
            </div>
        </div>
    </div>
    @RenderBody()
    <div id="contact" class="contact">
        <div class="container">
            <h3>联系我们</h3>
            <div class="foot1">
                <ul>
                    <li>
                        <div class="foot_lx">
                            <p>
                                咨询热线：<b style="font-size: 18px;margin-right: 20px">18030180502</b> 客服QQ：<a href="tencent://message/?uin=2885157799&amp;Site=%e8%81%94%e5%8a%a8%e8%87%aa%e5%8a%a8%e5%8f%91%e5%8d%a1%e5%b9%b3%e5%8f%b0&amp;Menu=yes" style="font-size: 18px"><b>78562623</b></a><br>地址：厦门市翔安区洪前社区<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="foot_title">
                            快速入口
                        </div>
                        <div class="foot_list">
                            <a>注册商户</a>
                            <a>个人中心</a>
                            <a>常见问题</a>
                        </div>
                    </li>
                    <li>
                        <div class="foot_title">
                            关于我们
                        </div>
                        <div class="foot_list">
                            <a>公司简介</a>
                            <a>使用帮助</a>
                            <a>官方公告</a>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <ul class="list-unstyled list-inline contact-social">
                <li><a href="tencent://message/?uin=785626232&amp;Site=%e8%81%94%e5%8a%a8%e8%87%aa%e5%8a%a8%e5%8f%91%e5%8d%a1%e5%b9%b3%e5%8f%b0&amp;Menu=yes"><i class="fa fa-qq"></i></a></li>
                <li><a><i class="fa fa-weixin"></i></a></li>
                <li><a href="mailto:785626232@qq.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <p>
                Copyright © 2015-2018 Hasin自动发卡网（www.hasin.top） All rights reserved.<a target="_blank" href="#">
                    <img src="./images/sm_124x47.png">
                </a>
            </p>

            <a id="phone_btn"><i class="fa fa-phone"></i> 18030180502</a>
            <a href="tencent://message/?uin=785626232&amp;Site=%e8%81%94%e5%8a%a8%e8%87%aa%e5%8a%a8%e5%8f%91%e5%8d%a1%e5%b9%b3%e5%8f%b0&amp;Menu=yes" id="qq_btn">
                <i class="fa fa-qq"></i> 785626232
            </a>
            <a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
    </div>
    <a href="#" id="toTop">To Top</a>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/js/move-top.js" type="text/javascript"></script>
    <script src="~/js/easing.js" type="text/javascript"></script>
    <script src="~/js/jquery.flexisel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/node_modules/oidc-client/dist/oidc-client.min.js"></script>
    <script src="~/js/Oidc.js"></script>
    <script src="~/js/HaisinConfig.js"></script>

    <script type="text/javascript">
        $(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

            $("#slider3").responsiveSlides({
                manualControls: '#slider3-pager',
            });

            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();

            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(".aLogin").click(function () {
                mgr.signinRedirect();
            });

            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>