@{
    ViewData["Title"] = "类别管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:10px;padding-bottom:10px;">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="txtCategoryName">类别名称</label>
            <input type="text" id="txtCategoryName" name="category" class="form-control" />
            <a class="btn btn-danger" href="javascript:Query();">
                <i class="icon-search"></i> 查询
            </a>
            <a class="btn btn-success" href="#">
                <i class="icon-plus"></i> 添加类别
            </a>
        </div>
    </form>
</div>
<table id="tbMain" class="table" style="width:100%">
    <thead>
        <tr>
            <th>类别名称</th>
            <th>排序</th>
            <th>创建时间</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        var table;

        $(function () {

            var initParam = function () {

                var data = {
                    categoryName: $("#txtCategoryName").val()
                };

                return data;
            };

            var initResult = function () {
                var data = {};

                return data;
            };

            var cols = [
                { "data": "categoryName" },
                { "data": "sortNo" },
                { "data": "creationTime" }
            ];

            table = $('#tbMain').SKDataTable("get", "api/Categorys", initParam, initResult, cols);

        });

        function Query() {
            table.draw(false);
        }

    </script>
}