@{
    ViewData["Title"] = "类别管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:10px;padding-bottom:10px;">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="txtCategoryName">类别名称</label>
            <input type="text" id="txtCategoryName" name="category" class="form-control" />
            <a class="btn btn-danger" href="javascript:Query();">
                <i class="icon-search"></i> 查询
            </a>
            <a class="btn btn-success" href="#">
                <i class="icon-plus"></i> 添加类别
            </a>
        </div>
    </form>
</div>
<table id="tbMain" class="table" style="width:100%">
    <thead>
        <tr>
            <th>类别名称</th>
            <th>排序</th>
            <th>创建时间</th>
        </tr>
    </thead>
</table>

@section Scripts{
<script type="text/javascript">
    var table;

    $(function () {

        table = $('#tbMain').DataTable({
            "searching": false,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "destroy": true,
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
            },
            "ajax": function (data, callback, settings) {

                var requestData = {};
                requestData.categoryName = $("#txtCategoryName").val();
                requestData.start = data.start;
                requestData.length = data.length;

                $.ajax({
                    "url": app.ApiHost + "api/Categorys",
                    "type": "get",
                    "contentType": "application/json",
                    "dataType": "json",
                    "beforeSend": function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + window.localStorage["token"]);
                    },
                    "data": requestData,
                    "success": function (json) {
                        json.draw = settings.draw;
                        callback(json);
                    }
                })
            },
            "columns": [
                { "data": "categoryName" },
                { "data": "sortNo" },
                { "data": "creationTime" }
            ]
        });

    });

    function Query() {
        table.draw(false);
    }
</script>
}